.container{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.whiteContainer {
    display:flex;
    justify-content: center;
    margin-top: 100px;
    width: 1400px;
    gap:10px;
}

.blackContainer {
    display:flex;
    justify-content: center;
    position: fixed;
    width: 1300px;
    gap:25px;
    top:110px;
}